
.itemButtons {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;

}

.itemButtons .items {
    background-color: rgba(0, 0, 0, 0.32);
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemButtons .items .itemsBlock {
    color: rgba(255, 255, 255, 0.68);
}