
.superInput {
    display: block;
    width: 178px;
    height: calc(1.3rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #667;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.30rem;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-box-shadow: 0px 1px 10px -4px rgba(34, 60, 80, 0.38) inset;
    -moz-box-shadow: 0px 1px 10px -4px rgba(34, 60, 80, 0.38) inset;
    box-shadow: 0px 1px 10px -4px rgba(34, 60, 80, 0.38) inset;
}

.errorInput {
    outline: none;
    display: block;
    width: 178px;
    height: calc(1.3rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #667;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(255, 0, 0, 0.48);
    border-radius: 0.30rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgba(249, 0, 0, 0.31);
}

.error {
    color: red;
}